page-view {



	      h1, h2, h3, h4, h5, h6 {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
}
	.detail{
	         font-size:small;
	         vertical-align: middle;
	      }
	table, th, td {
	    border-collapse: collapse;
	    font-size: large;
	      }
    th, td {
		    padding: 5px;
		    text-align: left;    
		 }

}
