page-report {

ion-content{
        background-color:color($colors,primary);
         background-image:url('../assets/images/bg.png');
         background-size:100% auto;
         
          ion-card{
      
             background-color: #33a586;
             color: #fff;
        	   padding: 35px;
        	   text-align: center;

      	 h3
      	 {
      	 	font-size: 17px !important;
		   color: #fff !important;
      	 }

      }
      }


}
 