page-dashboard {
    ion-slides{ max-height:23%;}
    ion-content{
        background-color:color($colors,primary);
         background-image:url('../assets/images/bg.png');
         background-size:100% auto;
         }
}
