page-userlist {

ion-content{
			
         background-color:color($colors,primary);
         background-image:url('../assets/images/bg.png');
         background-size:100% auto;
      
	         
	         ion-item
	         {
	         	background-color:#2b4030;
	         	border-radius: 15px;
	         }
	      }

}
